@page
@model CourrierDocker_MBDS_31.Pages.courrier.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewData["RechercheAvancee"] = true;

}

<h1>Edit</h1>

<h4>Courrier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Courrier.Id" />
            <div class="form-group">
                <label asp-for="Courrier.Objet" class="control-label"></label>
                <input asp-for="Courrier.Objet" class="form-control" />
                <span asp-validation-for="Courrier.Objet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courrier.DateCreation" class="control-label"></label>
                <input asp-for="Courrier.DateCreation" class="form-control" />
                <span asp-validation-for="Courrier.DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courrier.Contenu" class="control-label"></label>
                <input asp-for="Courrier.Contenu" class="form-control" />
                <span asp-validation-for="Courrier.Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
